<html>
<head>
<link rel="stylesheet" type="text/css" href="../sitecode/ultra.css">
<script src="../js/jquery-2.0.3.min.js"></script>
<script src="../js/jquery.format-1.3.min.js"></script>
<script src="../sitecode/utils.js"></script>
<script src="../sitecode/daycode.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script language="Javascript">
	// Call a function only when the page is fully loaded.
	//window.addEventListener("load", eventWindowLoaded, false);
	//google.load("visualization", "1", {packages:["corechart"]});
	date = "{{ date }}";

</script>
<title>{{ date }} - Ultracam night</title>
</head>

<body>

<h1>Night of {{ date }}</h1>

<table width="80%">
	<tr>
		<th class="left">Preview</th>
		<th class="left">Info</th>
		<th class="left">Comments</th>
	</tr>
	
	{% for run in runs %}
	<tr>
		<td class="left"><a href="{{ run.runURL }}"><img src="{{ run.thumbnailURI }}"></a></td>
		<td class="left">
			<table>
				<tr>
					<td class="left">{{ run.runID }}</td>
				</tr>
				<tr>
					<td class="left">{{ run.target }}</td>
				</tr>
				<tr>
					<td class="left">{{ run.runDuration }}</td>
				</tr>
				<tr>
					<td class="left">{{ run.ra }} : {{ run.dec }}</td>
				</tr>
			</table>
		</td>
		<td class="left">{{ run.comment }}</td>
	</tr>
	{% endfor %}

</table>


</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52663594-1', 'auto');
  ga('send', 'pageview');

</script>
</html>
