<html>
<head>
<link rel="stylesheet" type="text/css" href="../sitecode/ultra.css">
<script src="../js/jquery-2.0.3.min.js"></script>
<script src="../js/jquery.format-1.3.min.js"></script>
<script src="../sitecode/utils.js"></script>
<script src="../sitecode/runcode.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script language="Javascript">
	// Call a function only when the page is fully loaded.
	window.addEventListener("load", eventWindowLoaded, false);
	google.load("visualization", "1", {packages:["corechart"]});
	runName = "{{ runName }}";
	runVersion = "{{ version}}";

</script>
<title>{{ runName }} on the night of {{ date }}</title>

</head>

<body>

<!-- COMMAND WINDOW -->
<p class="debugstyle">
	<span id="commandWindow"></span>
</p>

<!-- RUNINFO TABLE -->
<table width="1080px">
	<tr>
		<th>Date</th>
		<th>Run</th>
		<th>Object</th>
		<th>RA, DEC</th>
		<th>Run duration</th>
		<th>Comments</th>
	</tr>
	<tr>
		<td id="date">{{ date }}</td>
		<td id="runName">{{ runName }}</td>
		<td id="object">{{ object }}</td>
		<td id="radec"></td>
		<td id="duration">{{ duration }}</td>
		<td id="comments">{{ comments }}</td>
	</tr>
	
</table>

<!-- IMAGE AREA -->
<div style="width: 1080px; height: 1032px; -webkit-transform: scale(1.0,1.0); -moz-transform: scale(1.0,1.0)">
<canvas id="ImageCanvas" width="1080" height="1032">
	Fallback content, in case the browser does not support Canvas.
</canvas>
<div id="HoverText" style="position: absolute; z-index: 1; left: 50px; top: 20px; width:115x; height:16px; background-color: green; font-size: 14px; opacity: 0.5;">
        &alpha;??:??:??<br/>&delta;??:??:??
</div>
<div id="CanvasHelp" style="position: absolute; z-index: 1; left: 50px; top: 20px; background-color: grey; font-size: 14px; opacity: 0.5;">
</div>
<div id="StatusText" style="position: absolute; z-index: 1; left: 50px; top: 20px; width:115x; height:32px; background-color: green; font-size: 28px; opacity: 0.8;">
</div>
<div id="MouseLocation"></div><br/>
<div id="MouseWorldLocation"></div>
<br/>

<!-- OBJECT TABLE -->
<table class="statustable" width="1080px">
	<tr>
		<th width="440px">Switches</th>
		<th>Selected object</th>
		<th>Comparison object(s)</th>
	</tr>
	<tr>
		<td>
			<table border='0' class="statustable">
				<tr align="left">
					<td class="left"><span onclick="toggleLabels()"><input type="checkbox" id="labels">Show labels</span></td>
					<td class="left"><span onclick="toggleComparison()"><input type="checkbox" id="usecomparison">Use comparison</span></td>
					<td>Base image</td>
					<td>Plot colours</td>
				</tr>
				<tr>
					<td class="left"><span onclick="toggleCircles()"><input type="checkbox" id="circles">Show circles</span></td>
					<td class="left"><span onclick="toggleNormalisation()"><input type="checkbox" id="normalise">Normalise the chart</span></td>
					<td class="left">
						<span onclick="switchBaseImage('r')"><input type="radio" name="baseimage" id='baseimage_r' value="r" >Red</span><br>
						<span onclick="switchBaseImage('g')"><input type="radio" name="baseimage" id='baseimage_g' value="g">Green</span><br>
						<span onclick="switchBaseImage('b')"><input type="radio" name="baseimage" id='baseimage_b' value="b">Blue</span><br>
					</td>
					<td class="left">
						<span onclick="togglePlotActive('r')"><input type="checkbox" id='plotred'>Red</span><br>
						<span onclick="togglePlotActive('g')"><input type="checkbox" id='plotgreen'>Green</span><br>
						<span onclick="togglePlotActive('b')"><input type="checkbox" id='plotblue'>Blue</span><br>
					</td>
				</tr>
				<tr>
					<td class="left"><span onclick="toggleObjectTable()"><input type="checkbox" id="objecttable">Show object table</span></td>
				</tr>
			</table>
		</td>
		<td class='cen' id="selectedobject">None</td>
		<td class='cen' id="comparisonobject">None</td>
	</tr>
</table>


<!-- CHART AREA -->

<div id="ChartStatus" style="background-color: green; font-size: 28px; opacity: 0.8;"></div>
<div id="main_chart_div" style="width: 1080px; height: 0px;">
</div>

<div id="comparison_chart_div" style="width: 1080px; height: 0px;">
</div>

<div id="ObjectTable"></div>

<table class="statustable">
	<tr>
		<th>SEXtractor parameters</th>
	</tr>
	<tr>
		<td class="left" id="sextractor">
		</td>
	</tr>
</table>

<!-- DEBUG AREA -->
<p class="debugstyle">
	<span id="debugPanel"></span>
</p>

</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52663594-1', 'auto');
  ga('send', 'pageview');

</script>

</html>
